<h2>Hallo <%= @user.name + " " + @user.lastname %></h2>
<p>Dein Passwort wurde geändert - Deine neue Anmeldedaten sind:</p>
<p>Email: <%= @user.email %></p>
<p>Passwort: <%= @pw %></p>
<br>
<%= link_to "und hier geht's zu Klaus wird 50 !", "http://klaus50.herokuapp.com" %>